@model ACuteArtInterface.Models.ExhibitionRoomItemModel

@{
    ViewBag.Title = "Create";
}

@*<link rel="stylesheet" href="~/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>*@

<link rel="stylesheet" href="~/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="~/lib/bootstrap/dist/js//bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="~/lib/bootstrap/dist/js//jquery-ui.min.js"></script>

<script type="text/javascript" src="~/lib/bootstrap/dist/js/slick.min.js"></script>

<script src="~/lib/bootstrap/dist/js/jquery.validate.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="~/css/modal.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    $(document).ready(function () {
        // Enable Live Search.
        $('#ArtworkList').attr('data-live-search', true);

        $('.selectpicker').selectpicker(
            {
                width: '100%',
                //style: 'btn-warning',
            });
    });

</script>

<h1>Exhibition Room Item</h1>
<h2>Edit</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="Artwork" class="control-label"></label>
                @Html.DropDownListFor(m => m.ArtworkId, (IEnumerable<SelectListItem>)ViewBag.ArtworkList, new { id = "ArtworkList", @class = "selectpicker" })
                <span asp-validation-for="ArtworkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" data-toggle="modal" class="btn btn-primary" data-target="#myModal" value="Save" />
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to edit this record?
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Save" id="btnEdit" class="btn btn-primary" />
                            <input type="button" value="Close" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId" asp-controller="ExhibitionRoom">Back to Selected Exhibition Room Item</a> | <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
