<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Forgot Password</title>
</head>
<body>
    <p style="color: black; font-size:medium">Hello {FULLNAME},</p>
    <p></p>
    <p style="color: black; font-size: medium">You requested a link to change you password.
    <p></p>
    <p style="color: black; font-size: medium">You can do this through the link below:
    <p style="color: black; font-size: medium"><a href="{RESETPASSWORDLINK}" style="font-size:medium" target="_blank">Password Reset Link</a></p>
    <p style="color: black; font-size: medium"></p>
    <p style="color: black; font-size: medium">If you have trouble using the link above, you can also confirm by copying the link below into your address bar:</p>
    <p style="color: black; font-size: medium">{RESETPASSWORDLINK}</p>
    <p style="color: black; font-size: medium"></p>
    <p style="color: black; font-size: medium">Your password won't change until you access the link aboove and create a new one.</p>
    <p></p>
    <p style="color: black; font-size: medium">If you didn't request this, please ignore this email.</p>
    <p></p>
    <p><img src="{IMAGEURL}img/logo.png" alt="Acute Art logo" title="Acute Art" style="width:120px;height:75px"></p>
    
</body>
</html>